*{
    padding: 0px;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    background-color: #000000;
    box-sizing: border-box;
}

.rules {
    border: 2px solid #f3382f;
    border-radius: 8px;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 40px;
}

.rules ul {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5vw;
}

.go {
    display: grid;
    width: 60vw;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
}

.go-link {
    border: 2px solid #f3382f;
    background-color: #f3382f;
    border-radius: 8px;
    text-decoration: none;
    margin: 10px 5px;
    font-size: 20px;
    padding: 20px 20px;
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.4s;
}

.go-link:hover{
    background-color: #ffd000;
}

p {
    font-size: 2vw;
    text-align: left;
    margin: 3%;
    text-align: center;
}

.enter-token {
    grid-column-start: 0;
    grid-column-start: 1;
}

.generate-token {
    grid-column-start: 1;
    grid-column-start: 2;
}

input[type="text"] {
    width: 15vw;
    height: 6vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #eeeeee;
    border-radius: 8px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 5vh;

}

input[type="button"] {
    font-size: 2vw;
    margin: auto;
    width: 6vw;
    height: 6vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px transparent none;
    background-color: #f3382f;
    border-radius: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    transition-duration: 0.4s;
}

input[type="button"]:hover {
    background-color: #ffd000;
    color: #000000;
    transform: scale(1.2);
}

.container {
    border: 2px solid #eeeeee;
    border-radius: 8px;
    padding: 20px 20px;
}
.left, .right {
    transition-duration: 0.4s;
}
.left:hover, .right:hover {
    border: 2px solid #f3382f;
}