* {
    padding: 0px;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    box-sizing: border-box;
}

body {
    /* z-index: -1; */
    height: 100vh;
    width: 100%;
    background-color: #000000;
    /* background: url("../res/black-for-login.jpg"); */
    background-size: cover;
    background-position: center;
}

::placeholder{
    color: #eeeeee;
}

.logo img {
    width: 20%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-just-below-logo {
    text-align: center;
    font-size: 25px;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: auto;
    padding: 40px 40px;
    border: 2px solid #eeeeee;
    border-radius: 6px;
    width: 600px;
}

.input-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    margin: 12px 0px;
    margin-bottom: 30px;
    padding: 8px 0px;
    border-bottom: 1px solid #eeeeee;
}

.textbox-mini {
    width: 50%;
    overflow: hidden;
    font-size: 20px;
    margin: 12px 0px;
    margin-bottom: 30px;
    padding: 8px 0px;
    border-bottom: 1px solid #eeeeee;
}

.textbox i {
    width: 2em;
    float: left;
    text-align: center;
}

.textbox-mini i {
    width: 2em;
    float: left;
    text-align: center;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    color: #eeeeee;
    font-size: 1em;
    width: 20em;
    float: left;
    margin: 0.5px;
}

.textbox-mini input {
    border: none;
    outline: none;
    background: none;
    color: #eeeeee;
    font-size: 1em;
    width: 20em;
    float: left;
    margin: 0.5px;
}

.radio{
    color: #eeeeee;
    width: 100%;
    margin: 12px 0px;
}

.radio p{
    font-size: 20px;
    margin-bottom: 10px;
}

.radio-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.radio label{
    font-size: 20px;
}

.btn{
    width: 100%;
    background-color: #f3382f;
    border: 2px solid white;
    color: white;
    padding: 8px;
    font-size: 1.5em;
    cursor: pointer;
    margin-top: 60px;
    transition-duration: 0.8s;
}

.btn a{
    width: 100%;
    text-decoration: none;
    background: none;
}

.btn:hover{
    background-color: #000000;
}